@model IEnumerable<Store.Web.App.BookModel>

@{
    ViewData["Title"] = "View";
}

<form class="form-inline my-2" method="get" asp-controller="Search" asp-action="Index">
    <input autocomplete="off" name="query" class="form-control mr-2"/>
    <button class="btn btn-success" type="submit">Search</button>
</form>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            №
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var (item, index) in Model.Select((m, i) => (m, i)))
    {
        <tr>
            <td>
                @(index + 1)
            </td>
            <td>
                <a href="@Url.Action("Index", "Book", new { id = item.Id })">
                    @Html.DisplayFor(modelItem => item.Title)

                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
    </tbody>
</table>
<p>
    <a asp-action="Index" class="btn btn-danger">Reset</a>
</p>