@model IEnumerable<Store.Book>

@{
    ViewData["Title"] = "View";
}

<h2>Введите название книги или автора</h2>
<form class="col-6"  method="get" asp-controller="Search" asp-action="Index" >
    <input autocomplete="off" name="query" class="form-control d-inline w-50"/>
    <button class="btn btn-success mb-2" type="submit">Search</button>
</form>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            @* <td> *@
            @*     @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | *@
            @*     @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
            @*     @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            @* </td> *@
        </tr>
    }
    </tbody>
</table>
<p>
    <a asp-action="Index" class="btn btn-danger">Reset</a>
</p>
