@using Store.Web.Controllers
@model IEnumerable<Store.Book>

@{
    ViewData["Title"] = "View";
}

<h2>Введите название книги или автора</h2>
<form class="form-inline my-2"  method="get" asp-controller="Search" asp-action="Index" >
    <input autocomplete="off" name="query" class="form-control mr-2"/>
    <button class="btn btn-success" type="submit">Search</button>
</form>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr  style="cursor: pointer" onclick="location.href = '@Url.Action("Index", "Book", new {id = item.Id})'">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
    </tbody>
</table>
<p>
    <a asp-action="Index" class="btn btn-danger">Reset</a>
</p>
