@model Store.Web.App.OrderModel
@{
    ViewData["Title"] = "Корзина";
}
<div class="container">

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(s => s.OrderItems.First().Id)</th>
            <th>@Html.DisplayNameFor(s => s.OrderItems.First().Title)</th>
            <th>@Html.DisplayNameFor(s => s.OrderItems.First().Author)</th>
            <th>@Html.DisplayNameFor(s => s.OrderItems.First().Isbn)</th>
            <th>@Html.DisplayNameFor(s => s.OrderItems.First().Count)</th>
            <th>@Html.DisplayNameFor(s => s.OrderItems.First().Price)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.OrderItems.Length; i++)
        {
            var book = Model.OrderItems[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Isbn</td>
                <td>@book.Count</td>
                <td>@book.Price</td>
                <td>
                    <form method="post" action="@Url.Action("RemoveItem", "Order")">
                        <input type="hidden" name="bookId" value="@book.Id">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
        <tfoot class="table-light">
        <tr>
            <th colspan="4" class="text-right">Итого:</th>
            <td>@Model.TotalCount</td>
            <td>@Model.TotalPrice</td>
            <td>
                <button class="btn btn-danger" onclick="location.href='@Url.Action("DeleteAll")'">Delete all</button>
            </td>
        </tr>
        </tfoot>
    </table>
    <form asp-controller="Order" asp-action="SendConfirmationCode">
        <div class="form-group">
            <input type="hidden" name="orderId" value="@Model.Id">
            <label for="phone">Номер телефона</label>
            <input id="phone" type="text" name="phoneNumber" placeholder="+712345678" value="+71234567891" maxlength="12" class="form-control" required>
            @if (Model.Errors.TryGetValue("phoneNumber", out var error))
            {
                <small class="text-danger">@error</small>
            }
        </div>
        <button class="btn btn-success">Отправить код</button>
    </form>
</div>